@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', sans-serif;
  background-color: white;
  color: black;
}

.seccion {
  width: 80%;
  margin: 0 auto;
}

.seccion__titulo {
  text-align: center;
  padding: 2rem 0;
}

.seccion__titulo {
  text-align: center;
  padding: 2rem 0;
}

.header {
  /* position: fixed;
      background-color: white;
      padding: 0.5rem;
      padding-top: 2rem;
      display: grid;
      grid-template-columns: 25% 50% 25%;
      grid-template-rows: 50% 50%;
      grid-template-areas: 
      "header__txt header__logo header__redes"
      "nav nav nav";
      justify-content: space-between;
      align-items: center;
      justify-items: center;
      width: 100%;
      height: 26%;
      z-index: 13; */
  position: fixed;
  background-color: white;
  padding: 0.5rem;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 50% 40%;
  grid-template-areas: "header__txt header__logo header__redes" "nav nav nav";
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 26%;
  z-index: 13;
  align-content: space-between;
}

.header__bar {
  display: none;
}

.header__logo {
  display: flex;
  grid-area: header__logo;
  width: 55%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  align-content: center;
  justify-self: center;
  background-color: white;
}

.header__texto {
  display: flex;
  grid-area: header__txt;
  color: #9D9D9D;
  padding: 10px;
  text-decoration: none;
  text-transform: lowercase;
  font-size: smaller;
}

.nav {
  display: flex;
  grid-area: nav;
  justify-content: center;
  align-self: flex-end;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: small;
}

.nav__enlace1 {
  display: inline;
  padding-right: 1rem;
  color: #AD9263;
  text-decoration: none;
}

.nav__enlace1__negro {
  display: inline;
  padding-right: 1rem;
  color: black;
  text-decoration: none;
}

.nav__enlace2 {
  display: inline;
  padding-right: 1rem;
  color: #AD9263;
  text-decoration: none;
}

.nav__enlace2__negro {
  display: inline;
  padding-right: 1rem;
  color: black;
  text-decoration: none;
}

.nav__enlace3 {
  display: inline;
  padding-right: 1rem;
  color: #AD9263;
  text-decoration: none;
}

.nav__enlace3__negro {
  display: inline;
  padding-right: 1rem;
  color: black;
  text-decoration: none;
}

.nav__enlace4 {
  display: inline;
  padding-right: 1rem;
  color: #AD9263;
  text-decoration: none;
}

.nav__enlace4__negro {
  display: inline;
  padding-right: 1rem;
  color: black;
  text-decoration: none;
}

.nav__enlace5 {
  display: inline;
  padding-right: 1rem;
  color: #AD9263;
  text-decoration: none;
}

.nav__enlace5__negro {
  display: inline;
  padding-right: 1rem;
  color: black;
  text-decoration: none;
}

.nav__enlace6 {
  display: inline;
  padding-right: 1rem;
  color: #AD9263;
  text-decoration: none;
}

.nav__enlace6__negro {
  display: inline;
  padding-right: 1rem;
  color: black;
  text-decoration: none;
}

.nav__enlace7 {
  display: none;
}

.header__redes {
  display: flex;
  padding: 10px;
  grid-area: header__redes;
  width: 200px;
  text-transform: lowercase;
  font-size: small;
  align-self: center;
  justify-content: space-around;
}

.whatsapp {
  background-color: #25D366;
  color: white;
  border-radius: 50%;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  display: inline-block;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 12;
}

.banner {
  /* display: flex;
      flex-direction: row;
      align-content: center;
      background-color: white;
      color: white;
      margin: 1px;
      padding: 15%;
      padding-bottom: 4%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      position: relative; */
  background-color: white;
  color: white;
  margin-top: 18%;
  padding-bottom: 4%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  position: relative;
  justify-content: center;
}

.subtitulo1 {
  text-align: center;
  text-transform: capitalize;
  font-size: larger;
  padding-bottom: 4rem;
  border-bottom: 1px solid #AD9263;
}

.novedades {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: 150px 15% 25%;
  justify-content: space-evenly;
  justify-items: stretch;
  align-content: space-around;
  grid-template-areas: "curso face insta espumosa" "curso__t face__t insta__t espumosa__t" "curso__txt face__txt insta__txt espumosa__txt";
  margin-bottom: 10%;
  align-items: stretch;
}

.cursos__imagen {
  display: flex;
  grid-area: curso;
}

.cursos__titulo {
  display: flex;
  padding: 5px;
  grid-area: curso__t;
  text-transform: lowercase;
  font-size: medium;
  justify-content: center;
}

.cursos__texto {
  display: flex;
  padding: 5px;
  grid-area: curso__txt;
  text-transform: lowercase;
  font-size: small;
  justify-content: center;
  align-self: flex-start;
}

.portada__facebook {
  display: flex;
  grid-area: face;
}

.portada__facebook__titulo {
  display: flex;
  padding: 5px;
  grid-area: face__t;
  text-transform: lowercase;
  font-size: medium;
  justify-content: center;
}

.facebook__texto {
  display: flex;
  padding: 5px;
  grid-area: face__txt;
  text-transform: lowercase;
  font-size: small;
  justify-content: center;
  align-self: flex-start;
}

.portada__insta {
  display: flex;
  width: 30%;
}

.portada__insta__titulo {
  display: flex;
  padding: 5px;
  grid-area: insta__t;
  text-transform: lowercase;
  font-size: medium;
  justify-content: center;
}

.portada__insta__texto {
  display: flex;
  padding: 5px;
  grid-area: insta__txt;
  text-transform: lowercase;
  font-size: small;
  justify-content: center;
  align-self: flex-start;
}

.espumosa {
  display: flex;
  grid-area: espumosa;
}

.espumosa__titulo {
  display: flex;
  padding: 5px;
  grid-area: espumosa__t;
  text-transform: lowercase;
  font-size: medium;
  justify-content: center;
}

.espumosa__texto {
  display: flex;
  padding: 5px;
  grid-area: espumosa__txt;
  text-transform: lowercase;
  font-size: small;
  justify-content: center;
  align-self: flex-start;
}

.subtitulo2 {
  text-align: center;
  text-transform: capitalize;
  font-size: larger;
  margin-top: 4rem;
}

.producto {
  display: grid;
  padding: 3%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 70% 23% 15%;
  justify-content: start;
  align-items: center;
  position: relative;
  grid-template-areas: "blanco malbec rose dulce personalizado " "blanco__t malbec__t rose__t dulce__t personalizado__t" "argentia1 argentia2 argentia3 argentia4 argentia5";
  justify-items: center;
  align-content: center;
}

.vinoblanco {
  display: flex;
  grid-area: blanco;
  width: 105%;
}

.vinoblanco__titulo {
  display: flex;
  grid-area: blanco__t;
  font-size: small;
  text-align: start;
  text-transform: capitalize;
  justify-content: center;
}

.vinomalbec {
  display: flex;
  grid-area: malbec;
  width: 105%;
}

.vinomalbec__titulo {
  display: flex;
  grid-area: malbec__t;
  font-size: small;
  text-align: center;
  text-transform: capitalize;
  justify-content: center;
}

.vinorose {
  display: flex;
  grid-area: rose;
  width: 115%;
}

.vinorose__titulo {
  display: flex;
  grid-area: rose__t;
  font-size: small;
  text-align: center;
  text-transform: capitalize;
  justify-content: center;
}

.espumantedulce {
  display: flex;
  grid-area: dulce;
  width: 75%;
}

.espumantedulce__titulo {
  display: flex;
  grid-area: dulce__t;
  font-size: small;
  text-align: center;
  text-transform: capitalize;
}

.vinopersonalizado {
  display: flex;
  grid-area: personalizado;
  width: 50%;
  justify-content: center;
}

.vinopersonalizado__titulo {
  display: flex;
  grid-area: personalizado__t;
  font-size: small;
  text-align: center;
  text-transform: capitalize;
}

.subtitulo3 {
  color: #FFBD21;
  text-align: center;
  text-transform: capitalize;
  font-size: larger;
  margin-top: 4rem;
}

.info {
  display: grid;
  grid-template-columns: 30% 2% 30%;
  grid-template-rows: 50% 25% 35% 10%;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  align-content: space-between;
  grid-template-areas: "evento . tradi" "evento__t . tradi__t" "evento__txt . tradi__txt" "evento__mi . .";
}

.eventos {
  display: flex;
  flex-direction: auto;
  justify-content: auto;
  align-items: auto;
  align-self: auto;
  grid-area: evento;
  margin: auto;
  padding: 1px;
  border: auto;
}

.eventos__titulo {
  display: flex;
  flex-direction: auto;
  justify-content: center;
  align-items: auto;
  align-self: auto;
  grid-area: evento__t;
  font-size: medium;
  text-transform: uppercase;
  text-align: center;
}

.eventos__texto {
  color: #A6A79D;
  display: flex;
  flex-direction: auto;
  justify-content: center;
  align-items: auto;
  align-self: flex-start;
  grid-area: evento__txt;
  font-size: smaller;
  text-transform: inherit;
  text-align: justify;
}

.eventos__masinfo {
  display: flex;
  flex-direction: auto;
  justify-content: center;
  align-items: auto;
  align-self: flex-start;
  grid-area: evento__mi;
  font-size: smaller;
  text-transform: inherit;
  text-align: justify;
}

.tradicion {
  display: flex;
  flex-direction: auto;
  justify-content: auto;
  align-items: auto;
  align-self: auto;
  grid-area: tradi;
  margin: auto;
  padding: 2px;
  border: auto;
}

.tradicion__titulo {
  display: flex;
  flex-direction: auto;
  justify-content: center;
  align-items: auto;
  align-self: auto;
  grid-area: tradi__t;
  font-size: medium;
  text-transform: uppercase;
  text-align: center;
}

.tradicion__texto {
  color: #A6A79D;
  display: flex;
  flex-direction: auto;
  justify-content: center;
  align-items: auto;
  align-self: flex-start;
  grid-area: tradi__txt;
  font-size: smaller;
  text-transform: inherit;
  text-align: justify;
}

.redes__facebook {
  color: #AD9263;
  border: 50%;
  padding-top: 1px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 25px;
  text-decoration: none;
}

.redes__instagram {
  color: #AD9263;
  border: 50%;
  padding-top: 1px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 25px;
  text-decoration: none;
}

.redes__whatsapp {
  color: #AD9263;
  border: 50%;
  padding-top: 1px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 25px;
  text-decoration: none;
}

.argentia1 {
  color: #898B89;
  display: flex;
  font-size: small;
  justify-content: center;
  align-self: baseline;
}

.argentia2 {
  color: #898B89;
  display: flex;
  font-size: small;
  justify-content: center;
  align-self: baseline;
}

.argentia3 {
  color: #898B89;
  display: flex;
  font-size: small;
  justify-content: center;
  align-self: baseline;
}

.argentia4 {
  color: #898B89;
  display: flex;
  font-size: small;
  justify-content: center;
  align-self: baseline;
}

.argentia5 {
  color: #898B89;
  display: flex;
  font-size: small;
  justify-content: center;
  align-self: baseline;
}

.footer {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer__logo {
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: white;
  padding: 10px;
  align-content: center;
}

.footer__texto {
  color: #9d9d9d;
  padding: 0;
  text-align: start;
  text-decoration: none;
  text-transform: lowercase;
  font-size: x-small;
  align-self: center;
}

.footer__nav {
  text-transform: lowercase;
  font-size: small;
  align-self: center;
}

.footer__enlace1 {
  text-decoration: none;
  color: #9D9D9D;
  padding-right: 0.5rem;
}

.footer__enlace2 {
  color: #9D9D9D;
  text-decoration: none;
  padding-right: 0.5rem;
}

.footer__enlace3 {
  color: #9D9D9D;
  text-decoration: none;
  padding-right: 0.5rem;
}

.subtitulo1__nosotros {
  text-align: center;
  text-transform: capitalize;
  font-size: larger;
  margin-top: 15%;
  padding-bottom: 50px;
  border-bottom: 2px solid #AD9263;
}

.banner__nosotros {
  background-color: white;
  color: white;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.subtitulo2__nosotros {
  text-align: center;
  text-transform: capitalize;
  font-size: larger;
}

.subtitulo3__nosotros {
  text-align: center;
  text-transform: capitalize;
  padding-top: 2%;
  padding-bottom: 7%;
  font-size: x-large;
  font-weight: bold;
}

.nosotros__info {
  display: grid;
  padding: 50px;
  padding-top: 0%;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: 50% 20% 60%;
  justify-content: space-evenly;
  grid-template-areas: "viñedos argentia tradicion" "viñedos__t argentia__t tradicion__t" "viñedos__txt argentia__txt tradicion__txt";
}

.nuestros__viñedos {
  display: flex;
  grid-area: viñedos;
  justify-self: center;
}

.nuestros__viñedos__titulo {
  display: flex;
  grid-area: viñedos__t;
  font-size: small;
  font-weight: lighter;
  text-align: start;
  text-transform: uppercase;
  align-self: center;
  justify-self: center;
}

.nuestros__viñedos__texto {
  display: flex;
  grid-area: viñedos__txt;
  text-transform: lowercase;
  font-size: small;
  align-self: flex-start;
  justify-self: center;
}

.argentia__nosotros {
  display: flex;
  grid-area: argentia;
  justify-self: center;
}

.argentia__nosotros__titulo {
  display: flex;
  grid-area: argentia__t;
  font-size: small;
  font-weight: lighter;
  text-align: start;
  text-transform: uppercase;
  align-self: center;
  justify-self: center;
}

.argentia__nosotros__texto {
  display: flex;
  grid-area: argentia__txt;
  text-transform: lowercase;
  font-size: small;
  align-self: flex-start;
  justify-self: center;
}

.tradi__tecno {
  display: flex;
  grid-area: tradicion;
  justify-self: center;
}

.tradi__tecno__titulo {
  display: flex;
  grid-area: tradicion__t;
  font-size: small;
  font-weight: lighter;
  text-align: start;
  text-transform: uppercase;
  align-self: center;
  justify-self: center;
}

.tradi__tecno__texto {
  display: flex;
  grid-area: tradicion__txt;
  text-transform: lowercase;
  font-size: small;
  align-self: flex-start;
  justify-self: center;
}

.subtitulo1__producto {
  margin-top: 18%;
  margin-bottom: 5%;
  text-align: center;
  text-transform: capitalize;
  font-size: larger;
}

.productos__grilla {
  display: grid;
  margin-bottom: 2%;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: 40% 5% 10% 40% 5% 10%;
  grid-template-areas: "blanco malbec rose" "blanco__t malbec__t rose__t" "argen1 argen2 argen3" "dulce personalizado ." "dulce__t personalizado__t ." "argen4 argen5 .";
  justify-items: center;
  align-content: space-between;
  justify-content: center;
  align-items: start;
}

.vinoblanco__producto {
  display: flex;
  grid-area: blanco;
  padding: 10px;
  width: 102%;
}

.vinoblanco__producto__titulo {
  display: flex;
  grid-area: blanco__t;
  padding: 10px;
  font-size: small;
  text-align: start;
  text-transform: capitalize;
}

.vinomalbec__producto {
  display: flex;
  grid-area: malbec;
  padding: 10px;
  width: 94%;
}

.vinomalbec__producto__titulo {
  display: flex;
  grid-area: malbec__t;
  padding: 10px;
  font-size: small;
  text-align: start;
  text-transform: capitalize;
}

.vinorose__producto {
  display: flex;
  grid-area: rose;
  padding: 10px;
  width: 112%;
}

.vinorose__producto__titulo {
  display: flex;
  grid-area: rose__t;
  padding: 10px;
  font-size: small;
  text-align: start;
  text-transform: capitalize;
}

.espumantedulce__producto {
  display: flex;
  grid-area: dulce;
  padding: 10px;
  width: 44%;
}

.espumantedulce__producto__titulo {
  display: flex;
  grid-area: dulce__t;
  padding: 10px;
  font-size: small;
  text-align: start;
  text-transform: capitalize;
}

.vinopersonalizado__producto {
  display: flex;
  grid-area: personalizado;
  padding: 10px;
  width: 47%;
}

.vinopersonalizado__producto__titulo {
  display: flex;
  grid-area: personalizado__t;
  padding: 10px;
  font-size: small;
  text-align: start;
  text-transform: capitalize;
}

.argentia1__producto {
  color: #898B89;
  display: flex;
  grid-area: argen1;
  font-size: small;
}

.argentia2__producto {
  color: #898B89;
  display: flex;
  grid-area: argen2;
  font-size: small;
}

.argentia3__producto {
  color: #898B89;
  display: flex;
  grid-area: argen3;
  font-size: small;
}

.argentia4__producto {
  color: #898B89;
  display: flex;
  grid-area: argen4;
  font-size: small;
}

.argentia5__producto {
  color: #898B89;
  display: flex;
  grid-area: argen5;
  font-size: small;
}

.resto {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.resto__texto1 {
  color: #898B89;
  text-align: center;
  text-transform: lowercase;
  font-size: small;
  font-weight: normal;
}

.resto__texto2 {
  color: #818181;
  text-align: center;
  text-transform: lowercase;
  font-size: small;
  font-weight: bold;
}

.resto__reserva {
  display: inline-block;
  background-color: #AD9263;
  color: white;
  margin-left: 45%;
  margin-right: 45%;
  padding-top: 1%;
  padding-right: 2%;
  padding-left: 2%;
  top: 20%;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  font-size: medium;
  border-radius: .2rem;
}

.resto__imagenes {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.resto__imagen1 {
  display: inline-block;
  width: 30%;
}

.resto__imagen2 {
  display: inline-block;
  width: 30%;
}

.resto__imagen3 {
  display: inline-block;
  width: 30%;
}

.eventos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eventos__titulo2 {
  margin-top: 20%;
  margin-bottom: 8%;
  padding-bottom: 35px;
  border-bottom: 2px solid #AD9263;
  text-align: center;
  text-transform: capitalize;
  font-size: x-large;
  font-weight: normal;
}

.eventos__texto2 {
  color: #898B89;
  align-self: center;
  text-align: center;
  text-transform: lowercase;
  font-size: small;
  font-weight: normal;
}

.eventos__imagenes {
  width: 100%;
}

.mapa {
  width: 100%;
  height: 600px;
  padding-top: 20%;
  padding-bottom: 3rem;
}

.subtitulo__contacto {
  margin-top: 10px;
  text-align: center;
  text-transform: capitalize;
  font-size: larger;
  padding-bottom: 4rem;
  border-bottom: 1px solid #AD9263;
}

.contenido__contacto {
  display: grid;
  padding: 3px;
  grid-template-columns: 25% 20% 55%;
  grid-template-rows: 55%;
  grid-template-areas: "info . form";
  align-items: center;
}

.contacto__info {
  display: flex;
  grid-area: info;
  margin-top: 40%;
  flex-direction: column;
  gap: 10px;
}

.contacto__info .contacto__titulo {
  text-transform: uppercase;
  font-size: x-large;
  padding-bottom: 40px;
  margin-top: 10rem;
  text-align: start;
}

.contacto__info .contacto__texto {
  color: gray;
  text-align: start;
  font-size: smaller;
  text-transform: capitalize;
}

.contacto__info .contacto__redes {
  align-self: flex-start;
}

.redes__contacto {
  font-size: medium;
  align-self: flex-start;
}

.form {
  width: 100%;
  display: grid;
  grid-area: form;
  grid-template-columns: 48% 4% 48%;
  grid-template-rows: 10% 10% 40% 10% 40% 30% 140% 15% 30%;
  grid-template-areas: "texto . ."  ". . ." "nombre . apellido" ". . ." "mail . numero" ". . ." "mensaje mensaje mensaje" ". . ." ". . boton";
  align-content: space-between;
  justify-content: end;
  align-items: stretch;
  justify-items: stretch;
}

.form__texto {
  display: flex;
  grid-area: texto;
}

.form__nombre {
  display: flex;
  grid-area: nombre;
  text-transform: capitalize;
  font-size: x-small;
  background-color: #F8F8F8;
  padding-left: 10px;
  border-style: none;
  border: 1px solid #EEEEEE;
}

.form__apellido {
  display: flex;
  grid-area: apellido;
  text-transform: capitalize;
  font-size: x-small;
  background-color: #F8F8F8;
  padding-left: 10px;
  border-style: none;
  border: 1px solid #EEEEEE;
}

.form__mail {
  display: flex;
  grid-area: mail;
  text-transform: capitalize;
  font-size: x-small;
  background-color: #F8F8F8;
  padding-left: 10px;
  border-style: none;
  border: 1px solid #EEEEEE;
}

.form__numero {
  display: flex;
  grid-area: numero;
  text-transform: capitalize;
  font-size: x-small;
  background-color: #F8F8F8;
  padding-left: 10px;
  border-style: none;
  border: 1px solid #EEEEEE;
}

.form__mensaje {
  display: flex;
  grid-area: mensaje;
  text-transform: capitalize;
  font-size: x-small;
  background-color: #F8F8F8;
  padding-left: 10px;
  border-style: none;
  border: 1px solid #EEEEEE;
}

.form__boton {
  display: inline-block;
  grid-area: boton;
  background-color: #AD9263;
  color: black;
  margin-left: 50%;
  padding-top: .8%;
  padding-right: 2%;
  padding-bottom: .8%;
  padding-left: 2%;
  text-align: center;
  text-transform: uppercase;
  font-size: medium;
  border-style: none;
  border-radius: 5rem;
}

/* media querys */
/* vista tablet */
@media screen and (max-width: 1023px) {
  .section1 {
    width: 80%;
    margin: 0 auto;
  }
  body {
    font-family: 'Merriweather', sans-serif;
    background-color: white;
    color: black;
  }
  .header {
    position: fixed;
    background-color: white;
    padding: 0.5rem;
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 30%;
    grid-template-areas: "header__bar header__logo ." ". . .";
    justify-content: start;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 18%;
    z-index: 13;
    align-content: stretch;
  }
  .header__bar {
    display: block;
    padding-left: 2rem;
    padding-right: 4%;
    font-size: 40px;
    color: #818181;
    text-decoration: none;
  }
  .header__texto {
    display: none;
  }
  .nav {
    display: none;
  }
  #lateral {
    display: flex;
    column-gap: 30px;
    background-color: white;
    width: 85%;
    height: 48%;
    position: fixed;
    top: -100vh;
    left: 2.7rem;
    z-index: 14;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
    transition: top 1s;
  }
  #lateral:target {
    top: 7rem;
  }
  .enlace7 {
    display: inline;
    padding-right: 1rem;
    color: black;
    text-decoration: none;
  }
  .header__redes {
    display: none;
  }
  .banner {
    background-color: white;
    color: white;
    margin-top: 18%;
    padding-bottom: 4%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    position: relative;
    justify-content: center;
  }
  .novedades {
    display: grid;
    grid-template-columns: repeat(4, 15%);
    grid-template-rows: 100px 10% 40%;
    justify-content: space-between;
    justify-items: start;
    align-items: stretch;
    align-content: space-between;
    margin-bottom: 10%;
  }
  .info {
    display: grid;
    grid-template-columns: 30% 2% 30%;
    grid-template-rows: 50% 12% 35% 15%;
    justify-content: space-evenly;
    align-items: end;
    justify-items: stretch;
    align-content: stretch;
    grid-template-areas: "evento . tradi" "evento__t . tradi__t" "evento__txt . tradi__txt" "evento__mi . .";
  }
  .producto {
    display: grid;
    padding: 3%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 55% 35% 10%;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    justify-items: center;
    position: relative;
    grid-template-areas: "blanco malbec rose dulce personalizado " "blanco__t malbec__t rose__t dulce__t personalizado__t" "argentia1 argentia2 argentia3 argentia4 argentia5";
  }
  .subtitulo1__nosotros {
    text-align: center;
    text-transform: capitalize;
    font-size: larger;
    margin-top: 20%;
    border-bottom: 1px solid #AD9263;
  }
  .banner__nosotros {
    background-color: white;
    color: white;
    width: 100%;
    position: relative;
    justify-content: center;
  }
  .nosotros__info {
    margin: 40px;
    margin-bottom: 4rem;
    display: grid;
    padding: 20px;
    padding-top: 0%;
    grid-template-columns: repeat(3, 40%);
    grid-template-rows: 50% 20% 60%;
    justify-content: space-evenly;
    grid-template-areas: "viñedos argentia tradicion" "viñedos__t argentia__t tradicion__t" "viñedos__txt argentia__txt tradicion__txt";
  }
  .nuestros__viñedos__mq1 {
    display: flex;
    width: 90%;
    height: 80%;
    grid-area: viñedos;
    justify-self: center;
  }
  .nuestros__viñedos__titulo__mq1 {
    display: flex;
    grid-area: viñedos__t;
    font-size: small;
    font-weight: lighter;
    text-align: start;
    text-transform: uppercase;
    align-self: center;
    justify-self: center;
  }
  .nuestros__viñedos__texto__mq1 {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    grid-area: viñedos__txt;
    text-transform: lowercase;
    font-size: small;
    align-self: flex-start;
    justify-self: center;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
  .argentia__nosotros__mq1 {
    display: flex;
    grid-area: argentia;
    width: 90%;
    height: 90%;
    justify-self: center;
  }
  .argentia__nosotros__titulo__mq1 {
    display: flex;
    grid-area: argentia__t;
    font-size: small;
    font-weight: lighter;
    text-align: start;
    text-transform: uppercase;
    align-self: center;
    justify-self: center;
  }
  .argentia__nosotros__texto__mq1 {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    grid-area: argentia__txt;
    text-transform: lowercase;
    font-size: small;
    align-self: flex-start;
    justify-self: center;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
  .tradi__tecno__mq1 {
    display: flex;
    grid-area: tradicion;
    width: 90%;
    height: 90%;
    justify-self: center;
  }
  .tradi__tecno__titulo__mq1 {
    display: flex;
    grid-area: tradicion__t;
    font-size: small;
    font-weight: lighter;
    text-align: start;
    text-transform: uppercase;
    align-self: center;
    justify-self: center;
  }
  .tradi__tecno__texto__mq1 {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    grid-area: tradicion__txt;
    text-transform: lowercase;
    font-size: small;
    align-self: flex-start;
    justify-self: center;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
  .subtitulo1__producto {
    margin-top: 26%;
    margin-bottom: 5%;
    text-align: center;
    text-transform: capitalize;
    font-size: larger;
  }
  .productos__grilla {
    display: grid;
    margin-bottom: 6%;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 40% 5% 10% 40% 10% 10%;
    grid-template-areas: "blanco malbec rose" "blanco__t malbec__t rose__t" "argen1 argen2 argen3" "dulce personalizado ." "dulce__t personalizado__t ." "argen4 argen5 .";
    justify-items: center;
    align-content: space-between;
    justify-content: center;
    align-items: start;
  }
  .mapa {
    width: 100%;
    height: 700px;
    padding-top: 20%;
    padding-bottom: 3rem;
  }
  .contenido__contacto {
    display: grid;
    padding: 3px;
    grid-template-columns: 25% 20% 55%;
    grid-template-rows: 100%;
    grid-template-areas: "info . form";
    align-items: center;
  }
  .contacto__info {
    display: flex;
    grid-area: info;
    margin-bottom: 15%;
    flex-direction: column;
    gap: 5px;
  }
  .contacto__info__titulo {
    text-transform: uppercase;
    font-size: small;
    padding-bottom: 40px;
    margin-top: 10rem;
    text-align: start;
  }
  .contacto__info__texto {
    color: gray;
    text-align: start;
    font-size: x-small;
    text-transform: capitalize;
  }
  .contacto__info__redes {
    align-self: center;
  }
  .redes__contacto {
    font-size: small;
    align-self: flex-end;
  }
  .form {
    width: 100%;
    display: grid;
    grid-area: form;
    margin-bottom: 30%;
    grid-template-columns: 48% 4% 48%;
    grid-template-rows: 10% 10% 40% 10% 40% 30% 140% 15% 30%;
    grid-template-areas: "texto . ."  ". . ." "nombre . apellido" ". . ." "mail . numero" ". . ." "mensaje mensaje mensaje" ". . ." ". . boton";
    align-content: space-between;
    justify-content: end;
    align-items: stretch;
    justify-items: stretch;
  }
  .form__texto {
    display: flex;
    grid-area: texto;
  }
  .form__nombre {
    display: flex;
    grid-area: nombre;
    text-transform: capitalize;
    font-size: x-small;
    background-color: #F8F8F8;
    padding-left: 10px;
    border-style: none;
    border: 1px solid #EEEEEE;
  }
  .form__apellido {
    display: flex;
    grid-area: apellido;
    text-transform: capitalize;
    font-size: x-small;
    background-color: #F8F8F8;
    padding-left: 10px;
    border-style: none;
    border: 1px solid #EEEEEE;
  }
  .form__mail {
    display: flex;
    grid-area: mail;
    text-transform: capitalize;
    font-size: x-small;
    background-color: #F8F8F8;
    padding-left: 10px;
    border-style: none;
    border: 1px solid #EEEEEE;
  }
  .form__numero {
    display: flex;
    grid-area: numero;
    text-transform: capitalize;
    font-size: x-small;
    background-color: #F8F8F8;
    padding-left: 10px;
    border-style: none;
    border: 1px solid #EEEEEE;
  }
  .form__mensaje {
    display: flex;
    grid-area: mensaje;
    text-transform: capitalize;
    font-size: x-small;
    background-color: #F8F8F8;
    padding-left: 10px;
    border-style: none;
    border: 1px solid #EEEEEE;
  }
  .form__boton {
    display: inline-block;
    grid-area: boton;
    background-color: #AD9263;
    color: black;
    margin-left: 33%;
    padding-top: .8%;
    padding-right: 2%;
    padding-bottom: .8%;
    padding-left: 2%;
    text-align: center;
    text-transform: uppercase;
    font-size: small;
    border-style: none;
    border-radius: 5rem;
  }
  .resto {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .resto__texto1 {
    color: #898B89;
    text-align: center;
    text-transform: lowercase;
    font-size: small;
    font-weight: normal;
  }
  .resto__texto2 {
    color: #818181;
    text-align: center;
    text-transform: lowercase;
    font-size: small;
    font-weight: bold;
  }
  .resto__reserva {
    display: inline-block;
    background-color: #AD9263;
    color: white;
    margin-left: 45%;
    margin-right: 38%;
    padding-top: 1.5%;
    padding-right: 2%;
    padding-left: 2%;
    top: 20%;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    font-size: medium;
    border-radius: .2rem;
  }
  .resto__imagenes {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .resto__imagen1 {
    display: inline-block;
    width: 30%;
  }
  .resto__imagen2 {
    display: inline-block;
    width: 30%;
  }
  .resto__imagen3 {
    display: inline-block;
    width: 30%;
  }
}

/* vista mobile */
/*# sourceMappingURL=estilo.css.map */
@media screen and (max-width: 767px) {
  .section2 {
    width: 80%;
    margin: 0 auto;
  }
  body {
    font-family: 'Merriweather', sans-serif;
    background-color: white;
    color: black;
  }
  .header {
    position: fixed;
    background-color: white;
    padding: 0.5rem;
    /* padding-top: 2rem; */
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 22%;
    z-index: 20;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .header__bar {
    display: block;
    padding-left: 2rem;
    padding-right: 4%;
    font-size: 40px;
    color: #818181;
    text-decoration: none;
  }
  .header__logo {
    width: 65%;
  }
  .header__texto {
    display: none;
  }
  .header__redes {
    display: none;
  }
  .nav {
    display: none;
  }
  #lateral {
    display: flex;
    column-gap: 30px;
    background-color: white;
    width: 85%;
    height: 48%;
    position: fixed;
    top: -100vh;
    left: 2.7rem;
    z-index: 14;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
    transition: top 1s;
  }
  #lateral:target {
    top: 7rem;
  }
  .enlace7 {
    display: inline;
    padding-right: 1rem;
    color: black;
    text-decoration: none;
  }
  .banner {
    background-color: white;
    color: white;
    margin-top: 50%;
    padding-bottom: 4%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    position: relative;
    justify-content: center;
  }
  .novedades {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 5% auto 25% 5% auto 25% 5% auto 25% 5% auto;
    grid-template-areas: "curso . . ." "curso__ti . . ." "curso__txt . . ." "face . . ." "face__ti . . ." "face__txt . . ." "insta . . ." "insta__ti . . ." "insta__txt . . ." "espu . . ." "espu__ti . . ." "espu__txt . . .";
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: space-between;
  }
  .cursos__imagen11 {
    display: flex;
    justify-content: center;
    grid-area: curso;
    width: 45%;
  }
  .cursos__titulo1 {
    grid-area: curso__ti;
    display: flex;
  }
  .cursos__texto1 {
    grid-area: curso__txt;
    display: flex;
  }
  .portada__facebook1 {
    display: flex;
    grid-area: face;
    align-content: center;
    width: 45%;
  }
  .portada__facebook__titulo1 {
    grid-area: face__ti;
    display: flex;
  }
  .facebook__texto1 {
    grid-area: face__txt;
    display: flex;
  }
  .portada__insta1 {
    grid-area: insta;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .portada__insta__titulo1 {
    grid-area: insta__ti;
    display: flex;
  }
  .portada__insta__texto1 {
    grid-area: insta__txt;
    display: flex;
  }
  .espumosa1 {
    grid-area: espu;
    display: flex;
    justify-content: center;
    width: 40%;
  }
  .espumosa__titulo1 {
    grid-area: espu__ti;
    display: flex;
  }
  .espumosa__texto1 {
    grid-area: espu__txt;
    display: flex;
  }
  .info {
    display: grid;
    margin-top: 90%;
    margin-bottom: 55%;
    grid-template-columns: auto;
    grid-template-rows: 50% 8% 8% 8% 50% 8% 10%;
    grid-template-areas: "evento__img" "evento__ti" "evento__tx" "evento__mas" "tradi__img" "tradi__ti" "tradi__tx";
    justify-items: center;
    align-items: center;
    justify-content: center;
  }
  .eventos__mq2 {
    display: flex;
    justify-content: center;
    grid-area: evento__img;
    padding: 5px;
    width: 75%;
  }
  .eventos__titulo__mq2 {
    grid-area: evento__ti;
    display: flex;
  }
  .eventos__texto__mq2 {
    grid-area: evento__tx;
    display: flex;
  }
  .eventos__masinfo__mq2 {
    grid-area: evento__mas;
    display: flex;
  }
  .tradicion__mq2 {
    display: flex;
    justify-content: center;
    grid-area: tradi__img;
    width: 45%;
    padding: 5px;
    width: 74%;
  }
  .tradicion__titulo__mq2 {
    grid-area: tradi__ti;
    display: flex;
  }
  .tradicion__texto__mq2 {
    grid-area: tradi__tx;
    display: flex;
  }
  .subtitulo2 {
    text-align: center;
    text-transform: capitalize;
    font-size: larger;
    margin-top: 98%;
  }
  .producto {
    display: grid;
    margin-bottom: 120%;
    grid-template-columns: 80%;
    grid-template-rows: 18% 5% 7% 18% 5% 6% 18% 5% 7% 18% 5% 7% 18% 5% 7%;
    grid-template-areas: "blanco__img" "blanco__ti" "argen1" "malbec__img" "malbec__ti" "argen2" "rose__img" "rose__ti" "argen3" "dulce__img" "dulce__ti" "argen4" "personalizado__img" "personalizado__ti" "argen5";
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: space-between;
  }
  .vinoblanco__mq2 {
    display: flex;
    justify-content: center;
    grid-area: blanco__img;
    width: 75%;
  }
  .vinoblanco__titulo__mq2 {
    grid-area: blanco__ti;
    display: flex;
  }
  .argentia1__mq2 {
    grid-area: argen1;
    display: flex;
  }
  .vinomalbec__mq2 {
    display: flex;
    grid-area: malbec__img;
    align-content: center;
    width: 75%;
  }
  .vinomalbec__titulo__mq2 {
    grid-area: malbec__ti;
    display: flex;
  }
  .argentia2__mq2 {
    grid-area: argen2;
    display: flex;
  }
  .vinorose__mq2 {
    grid-area: rose__img;
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .vinorose__titulo__mq2 {
    grid-area: rose__ti;
    display: flex;
  }
  .argentia3__mq2 {
    grid-area: argen3;
    display: flex;
  }
  .espumantedulce__mq2 {
    grid-area: dulce__img;
    display: flex;
    justify-content: center;
    width: 55%;
  }
  .espumantedulce__titulo__mq2 {
    grid-area: dulce__ti;
    display: flex;
  }
  .argentia4__mq2 {
    grid-area: argen4;
    display: flex;
  }
  .vinopersonalizado__mq2 {
    grid-area: personalizado__img;
    display: flex;
    justify-content: center;
    width: 35%;
  }
  .vinopersonalizado__titulo__mq2 {
    grid-area: personalizado__ti;
    display: flex;
  }
  .argentia5__mq2 {
    grid-area: argen5;
    display: flex;
  }
  .subtitulo1__mq {
    text-align: center;
    text-transform: capitalize;
    font-size: larger;
    margin-top: 38rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid #AD9263;
  }
  .nosotros__info {
    margin-bottom: 80%;
    display: grid;
    padding: 20px;
    grid-template-columns: 100%;
    grid-template-rows: 20% 1% 25% 20% 5% 20% 20% 5% 18%;
    justify-content: center;
    grid-template-areas: "viñedos ." "viñedos__t ." "viñedos__txt ." "argentia ." "argentia__t ." "argentia__txt ." "tradicion ." "tradicion__t ." "tradicion__txt .";
    justify-items: center;
    align-items: center;
    align-content: space-between;
  }
  .nuestros__viñedos__mq2 {
    display: flex;
    width: 300px;
    height: 50%;
    grid-area: viñedos;
    justify-self: center;
  }
  .nuestros__viñedos__titulo__mq2 {
    display: flex;
    grid-area: viñedos__t;
    font-size: small;
    font-weight: lighter;
    text-align: start;
    text-transform: uppercase;
    align-self: center;
    justify-self: center;
  }
  .nuestros__viñedos__texto__mq2 {
    display: flex;
    grid-area: viñedos__txt;
    text-transform: lowercase;
    font-size: small;
    align-self: flex-start;
    justify-self: center;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
  .argentia__nosotros__mq2 {
    display: flex;
    grid-area: argentia;
    width: 300px;
    height: 50%;
    justify-self: center;
  }
  .argentia__nosotros__titulo__mq2 {
    display: flex;
    grid-area: argentia__t;
    font-size: small;
    font-weight: lighter;
    text-align: start;
    text-transform: uppercase;
    align-self: center;
    justify-self: center;
  }
  .argentia__nosotros__texto__mq2 {
    display: flex;
    grid-area: argentia__txt;
    text-transform: lowercase;
    font-size: small;
    align-self: flex-start;
    justify-self: center;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
  .tradi__tecno__mq2 {
    display: flex;
    grid-area: tradicion;
    width: 300px;
    height: 50%;
    justify-self: center;
  }
  .tradi__tecno__titulo__mq2 {
    display: flex;
    grid-area: tradicion__t;
    font-size: small;
    font-weight: lighter;
    text-align: start;
    text-transform: uppercase;
    align-self: center;
    justify-self: center;
  }
  .tradi__tecno__texto__mq2 {
    display: flex;
    grid-area: tradicion__txt;
    text-transform: lowercase;
    font-size: small;
    align-self: flex-start;
    justify-self: center;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
  .subtitulo1__producto {
    margin-top: 30%;
    margin-bottom: 5%;
    text-align: center;
    text-transform: capitalize;
    font-size: larger;
  }
  .productos__grilla {
    display: grid;
    margin-bottom: 50%;
    grid-template-columns: auto;
    padding: 10px;
    grid-template-rows: 18% 2% 4% 18% 2% 4% 18% 2% 4% 18% 2% 4% 18% 2% 4%;
    grid-template-areas: "blanco" "blanco__t" "argen1" "malbec" "malbec__t" "argen2" "rose" "rose__t" "argen3" "dulce" "dulce__t" "argen4" "personalizado" "personalizado__t" "argen5";
    justify-items: center;
    align-content: space-between;
    justify-content: center;
    align-items: start;
  }
  .mapa {
    width: 100%;
    height: 600px;
    padding-top: 50%;
    padding-bottom: 3rem;
  }
  .contenido__contacto {
    display: grid;
    padding: 3px;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "info" "form";
    align-items: center;
  }
  .contacto__info {
    display: flex;
    grid-area: info;
    margin-bottom: 15%;
    flex-direction: column;
    gap: 5px;
  }
  .contacto__info__titulo {
    text-transform: uppercase;
    font-size: small;
    padding-bottom: 40px;
    margin-top: 10rem;
    text-align: start;
  }
  .contacto__info__texto {
    color: gray;
    text-align: start;
    font-size: x-small;
    text-transform: capitalize;
  }
  .contacto__info__redes {
    align-self: center;
  }
  .redes__contacto {
    font-size: small;
    align-self: flex-end;
  }
  .form {
    width: 100%;
    display: grid;
    grid-area: form;
    margin-bottom: 30%;
    grid-template-columns: 48% 4% 48%;
    grid-template-rows: 10% 10% 40% 10% 40% 30% 140% 15% 30%;
    grid-template-areas: "texto . ."  ". . ." "nombre . apellido" ". . ." "mail . numero" ". . ." "mensaje mensaje mensaje" ". . ." ". . boton";
    align-content: space-between;
    justify-content: end;
    align-items: stretch;
    justify-items: stretch;
  }
  .form__texto {
    display: flex;
    grid-area: texto;
  }
  .form__nombre {
    display: flex;
    grid-area: nombre;
    text-transform: capitalize;
    font-size: x-small;
    background-color: #F8F8F8;
    padding-left: 10px;
    border-style: none;
    border: 1px solid #EEEEEE;
  }
  .form__apellido {
    display: flex;
    grid-area: apellido;
    text-transform: capitalize;
    font-size: x-small;
    background-color: #F8F8F8;
    padding-left: 10px;
    border-style: none;
    border: 1px solid #EEEEEE;
  }
  .form__mail {
    display: flex;
    grid-area: mail;
    text-transform: capitalize;
    font-size: x-small;
    background-color: #F8F8F8;
    padding-left: 10px;
    border-style: none;
    border: 1px solid #EEEEEE;
  }
  .form__numero {
    display: flex;
    grid-area: numero;
    text-transform: capitalize;
    font-size: x-small;
    background-color: #F8F8F8;
    padding-left: 10px;
    border-style: none;
    border: 1px solid #EEEEEE;
  }
  .form__mensaje {
    display: flex;
    grid-area: mensaje;
    text-transform: capitalize;
    font-size: x-small;
    background-color: #F8F8F8;
    padding-left: 10px;
    border-style: none;
    border: 1px solid #EEEEEE;
  }
  .form__boton {
    display: inline-block;
    grid-area: boton;
    background-color: #AD9263;
    color: black;
    margin-left: 33%;
    padding-top: .8%;
    padding-right: 2%;
    padding-bottom: .8%;
    padding-left: 2%;
    text-align: center;
    text-transform: uppercase;
    font-size: small;
    border-style: none;
    border-radius: 5rem;
  }
  .resto {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .resto__texto1 {
    color: #898B89;
    text-align: center;
    text-transform: lowercase;
    font-size: small;
    font-weight: normal;
  }
  .resto__texto2 {
    color: #818181;
    text-align: center;
    text-transform: lowercase;
    font-size: small;
    font-weight: bold;
  }
  .resto__reserva {
    display: inline-block;
    background-color: #AD9263;
    color: white;
    margin-left: 40%;
    margin-right: 32%;
    padding-top: 5%;
    padding-right: 2%;
    padding-left: 2%;
    top: 20%;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    font-size: small;
    border-radius: .2rem;
  }
  .resto__imagenes {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .resto__imagen1 {
    display: inline-block;
    width: 30%;
  }
  .resto__imagen2 {
    display: inline-block;
    width: 30%;
  }
  .resto__imagen3 {
    display: inline-block;
    width: 30%;
  }
  .footer {
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
  .footer__logo {
    width: 60%;
  }
}
/*# sourceMappingURL=estilo.css.map */