* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section {
    width: 60%;
    margin: 0 auto;
} 

#conteitemcarrousel {
    border: 5px solid black;
    overflow: hidden;
}

.itemcarrousel {
    border: 1px solid black;
    height: 200px;
    position: relative;
}

.tarjetacarrousel {
    background-color: aquamarine;
    height: 100%;
}

.flechascarrousel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#tarjetacarrousel-1 {
    background-color: brown;
}

#tarjetacarrousel-2 {
    background-color: blue;
}

#tarjetacarrousel-3 {
    background-color: blueviolet;
}