.whatsapp {
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    padding-top: .5%;
    padding-bottom: .2%;
    padding-left: 0.9%;
    padding-right: 0.9%;
    text-align: center;
    font-size: xx-large;
    text-decoration: none;
    display: inline-block;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 12;
  }
  
  .banner {
    background-color: white;
    color: white;
    margin-top: 18%;
    padding-bottom: 4%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    position: relative;
    justify-content: center;
  }

  .subtitulo1 {
    text-align: center;
    text-transform: capitalize;
    font-size: larger;
    padding-bottom: 4rem;
    border-bottom: 1px solid $color-principal-dorado;
  }
  
  .novedades {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: 150px 15% 25%;
    justify-content: space-evenly;
    justify-items: stretch;
    align-content: space-around;
    grid-template-areas: "curso face insta espumosa"
   "curso__t face__t insta__t espumosa__t"
   "curso__txt face__txt insta__txt espumosa__txt";
    margin-bottom: 10%;
    align-items: stretch;
  }
  
  .cursos__imagen {
    display: flex;
    grid-area: curso;
  }
  
  .cursos__titulo {
    display: flex;
    padding: 5px;
    grid-area: curso__t;
    text-transform: lowercase;
    font-size: medium;
    justify-content: center;
  }
  
  .cursos__texto {
    display: flex;
    padding: 5px;
    grid-area: curso__txt;
    text-transform: lowercase;
    font-size: small;
    justify-content: center;
    align-self: flex-start;
  }
  
  .portada__facebook {
    display: flex;
    grid-area: face;
  }
  
  .portada__facebook__titulo {
    display: flex;
    padding: 5px;
    grid-area: face__t;
    text-transform: lowercase;
    font-size: medium;
    justify-content: center;
  }
  
  .facebook__texto {
    display: flex;
    padding: 5px;
    grid-area: face__txt;
    text-transform: lowercase;
    font-size: small;
    justify-content: center;
    align-self: flex-start;
  }
  
  .portada__insta {
    display: flex;
    width: 30%;
  }
  
  .portada__insta__titulo {
    display: flex;
    padding: 5px;
    grid-area: insta__t;
    text-transform: lowercase;
    font-size: medium;
    justify-content: center;
  }
  
  .portada__insta__texto {
    display: flex;
    padding: 5px;
    grid-area: insta__txt;
    text-transform: lowercase;
    font-size: small;
    justify-content: center;
    align-self: flex-start;
  }
  
  .espumosa {
    display: flex;
    grid-area: espumosa;
  }
  
  .espumosa__titulo {
    display: flex;
    padding: 5px;
    grid-area: espumosa__t;
    text-transform: lowercase;
    font-size: medium;
    justify-content: center;
  }
  
  .espumosa__texto {
    display: flex;
    padding: 5px;
    grid-area: espumosa__txt;
    text-transform: lowercase;
    font-size: small;
    justify-content: center;
    align-self: flex-start;
  }

  .subtitulo2 {
    text-align: center;
    text-transform: capitalize;
    font-size: larger;
    margin-top: 4rem;
  }
  
  // .producto {
  //   display: grid;
  //   padding: 3%;
  //   grid-template-columns: 20% 20% 20% 20% 20%;
  //   grid-template-rows: 70% 23% 15%;
  //   justify-content: start;
  //   align-items: center;
  //   position: relative;
  //   grid-template-areas: "blanco malbec rose dulce personalizado "
  //  "blanco__t malbec__t rose__t dulce__t personalizado__t"
  //  "argentia1 argentia2 argentia3 argentia4 argentia5";
  //   justify-items: center;
  //   align-content: center;
  // }
  
  // .vinoblanco {
  //   display: flex;
  //   grid-area: blanco;
  //   width: 105%;
  // }
  
  // .vinoblanco__titulo {
  //   display: flex;
  //   grid-area: blanco__t;
  //   font-size: small;
  //   text-align: start;
  //   text-transform: capitalize;
  //   justify-content: center;
  // }
  

  // .vinomalbec {
  //   display: flex;
  //   grid-area: malbec;
  //   width: 105%;
  // }
  
  // .vinomalbec__titulo {
  //   display: flex;
  //   grid-area: malbec__t;
  //   font-size: small;
  //   text-align: center;
  //   text-transform: capitalize;
  //   justify-content: center;
  // }
  
  // .vinorose {
  //   display: flex;
  //   grid-area: rose;
  //   width: 115%;
  // }
  
  // .vinorose__titulo {
  //   display: flex;
  //   grid-area: rose__t;
  //   font-size: small;
  //   text-align: center;
  //   text-transform: capitalize;
  //   justify-content: center;
  // }
  
  // .espumantedulce {
  //   display: flex;
  //   grid-area: dulce;
  //   width: 75%;
  // }
  
  // .espumantedulce__titulo {
  //   display: flex;
  //   grid-area: dulce__t;
  //   font-size: small;
  //   text-align: center;
  //   text-transform: capitalize;
  // }
  
  // .vinopersonalizado {
  //   display: flex;
  //   grid-area: personalizado;
  //   width: 50%;
  //   justify-content: center;
  // }
  
  // .vinopersonalizado__titulo {
  //   display: flex;
  //   grid-area: personalizado__t;
  //   font-size: small;
  //   text-align: center;
  //   text-transform: capitalize;
  // }

  .contenedor {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
  }
  
  .tarjeta {
    width: 320px;
    height: 250px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 5px;
    text-align: center;
    transition: all 0.50s;

    &__img {
      border-radius: 8px;
      width: 300px;
      height: 200px;
    }
    
    &__img:hover {
      box-shadow: 0 8px 12px $color-principal-dorado;
    }
    
    &__title {
      font-weight: 600;
    }
    
    &__txt {
      padding: 0.2rem;
      font-size: 16px;
      font-weight: 300;
    }
  }
  
  .tarjeta__img {
    border-radius: 8px;
    width: 300px;
    height: 200px;
  }
  
  .tarjeta__img:hover {
    box-shadow: 0 8px 12px rgba(3, 3, 3, 0.2);
  }
  
  .tarjeta__title {
    font-weight: 600;
  }
  
  .tarjeta__txt {
    padding: 0.2rem;
    font-size: 16px;
    font-weight: 300;
  }
  
  .vinoblanco {
    width: 100%;
  
  }
  
  .vinoblanco__titulo {
    padding-left: 40%;
    font-size: small;
    text-align: start;
    text-transform: capitalize;
  }
  
  .vinomalbec {
    width: 100%;
    height: 75%;
  }
  
  .vinomalbec__titulo {
    padding-top: 5%;
    font-size: small;
    text-align: center;
    text-transform: capitalize;
  }
  
  .vinorose {
    width: 100%;
  }
  
  .vinorose__titulo {
    font-size: small;
    text-align: center;
    text-transform: capitalize;
  }
  
  .espumantedulce {
    width: 100%;
    height: 75%;
  }
  
  .espumantedulce__titulo {
    padding-top: 6%;
    font-size: small;
    text-align: center;
    text-transform: capitalize;
  }
  
  .vinopersonalizado {
    width: 100%;
    justify-content: center;
  }
  
  .vinopersonalizado__titulo {
    font-size: small;
    text-align: center;
    text-transform: capitalize;
  }
  
  .subtitulo3 {
    color: #FFBD21;
    padding-bottom: 3rem;
    border-bottom: 1px solid $color-principal-dorado;
    text-align: center;
    text-transform: capitalize;
    font-size: larger;
    margin-top: 4rem;
  }