.eventos {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__titulo2 {
        margin-top: 20%;
        margin-right: 45%;
        margin-left: 45%;
        margin-bottom: 3%;
        padding-bottom: 20px;
        border-bottom: 1px solid $color-principal-dorado;
        text-align: center;
        text-transform: capitalize;
        font-size: larger;
        font-weight: normal;
    }

    &__texto2 {
        color: #898B89;
        margin-right: 15%;
        margin-left: 15%;
        align-self: center;
        text-align: center;
        text-transform: lowercase;
        font-size: small;
        font-weight: normal;
    }
}

.turismo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__titulo2 {
        margin-top: 3%;
        margin-right: 45%;
        margin-left: 45%;
        margin-bottom: 3%;
        padding-bottom: 20px;
        border-bottom: 1px solid $color-principal-dorado;
        text-align: center;
        text-transform: capitalize;
        font-size: larger;
        font-weight: normal;
    }

    &__texto2 {
        color: #898B89;
        margin-right: 15%;
        margin-left: 15%;
        align-self: center;
        text-align: center;
        text-transform: lowercase;
        font-size: small;
        font-weight: normal;
    }

    &__texto3 {
        color: #464946;
        margin-right: 15%;
        margin-left: 15%;
        align-self: center;
        text-align: center;
        text-transform: lowercase;
        font-size: small;
        font-weight: normal;
    }

    &__reserva {
        display: inline-block;
        background-color: #AD9263;
        color: white;
        margin-left: 45%;
        margin-right: 45%;
        margin-bottom: 2rem;
        padding: .8%;
        padding-left: 1%;
        top: 20%;
        text-align: center;
        text-transform: capitalize;
        text-decoration: none;
        font-size: medium;
        border-radius: .2rem;
    }
}

.carousel-item1 {
    width: 70%;
    margin-left: 15%;
}

.carousel-control-prev1 {
    left: 110px;
}

.carousel-control-next1 {
    right: 110px;
}

.carousel-indicators{
    display: none;
}