.texto1__resto {
    color: #898B89;
    text-align: center;
    text-transform: lowercase;
    font-size: small;
    font-weight: normal;
  }
  
  .texto2__resto {
    color: #818181;
    text-align: center;
    text-transform: lowercase;
    font-size: small;
    font-weight: bold;
  }
  
  .boton__reserva {
    display: inline-block;
    background-color: #AD9263;
    color: white;
    margin-left: 45.6%;
    padding-top: .8%;
    padding-right: 2%;
    padding-bottom: .8%;
    padding-left: 2%;
    top: 20%;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    font-size: small;
    border-radius: .1rem;
  }
  
  .resto__imagen1 {
    display: inline-block;
    margin-left: 4.5%;
    margin-top: 5%;
  }
  
  .resto__imagen2 {
    display: inline;
    margin-left: 5%;
  }
  
  .resto__imagen3 {
    display: inline-block;
    margin-left: 5%;
  }