.whatsapp {
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    padding-top: .5%;
    padding-bottom: .2%;
    padding-left: 0.9%;
    padding-right: 0.9%;
    text-align: center;
    font-size: xx-large;
    text-decoration: none;
    display: inline-block;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 12;
  }

  .whatsapp:hover {
    color: white;
    background-color: #22b959;
  }
  
  .banner {
    background-color: white;
    color: white;
    margin-top: 18%;
    padding-bottom: 4%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    position: relative;
    justify-content: center;
  }

  .subtitulo1 {
    text-align: center;
    text-transform: capitalize;
    font-size: larger;
    padding-bottom: 4rem;
    border-bottom: 1px solid $color-principal-dorado;
  }
  
  .novedades {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: 150px 15% 25%;
    justify-content: space-evenly;
    justify-items: stretch;
    align-content: space-around;
    grid-template-areas: "curso face insta espumosa"
   "curso__t face__t insta__t espumosa__t"
   "curso__txt face__txt insta__txt espumosa__txt";
    margin-bottom: 10%;
    align-items: stretch;
  }
  
  .cursos__imagen {
    display: flex;
    grid-area: curso;
  }
  
  .cursos__titulo {
    display: flex;
    padding: 5px;
    grid-area: curso__t;
    text-transform: lowercase;
    font-size: medium;
    justify-content: center;
  }
  
  .cursos__texto {
    display: flex;
    padding: 5px;
    grid-area: curso__txt;
    text-transform: lowercase;
    font-size: small;
    justify-content: center;
    align-self: flex-start;
  }
  
  .portada__facebook {
    display: flex;
    grid-area: face;
  }
  
  .portada__facebook__titulo {
    display: flex;
    padding: 5px;
    grid-area: face__t;
    text-transform: lowercase;
    font-size: medium;
    justify-content: center;
  }
  
  .facebook__texto {
    display: flex;
    padding: 5px;
    padding-left: 15px;
    grid-area: face__txt;
    text-transform: lowercase;
    font-size: small;
    justify-content: center;
    align-self: flex-start;
  }
  
  .portada__insta {
    display: flex;
    width: 30%;
  }
  
  .portada__insta__titulo {
    display: flex;
    padding: 5px;
    grid-area: insta__t;
    text-transform: lowercase;
    font-size: medium;
    justify-content: center;
  }
  
  .portada__insta__texto {
    display: flex;
    padding: 5px;
    grid-area: insta__txt;
    text-transform: lowercase;
    font-size: small;
    justify-content: center;
    align-self: flex-start;
  }
  
  .espumosa {
    display: flex;
    grid-area: espumosa;
  }
  
  .espumosa__titulo {
    display: flex;
    padding: 5px;
    grid-area: espumosa__t;
    text-transform: lowercase;
    font-size: medium;
    justify-content: center;
  }
  
  .espumosa__texto {
    display: flex;
    padding: 5px;
    margin-left: 30px;
    grid-area: espumosa__txt;
    text-transform: lowercase;
    font-size: small;
    justify-content: center;
    align-self: flex-start;
  }

  .subtitulo2 {
    text-align: center;
    text-transform: capitalize;
    font-size: larger;
    margin-top: 4rem;
  }
 
  .contenedor {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
  }
  
  .tarjeta {
    width: 200px;
    height: 255px;
    overflow: hidden;
    margin: auto;
    text-align: center;
    transition: all 0.50s;

    &__img {
      border-radius: 8px;
      width: 270px;
      height: 190px;
      padding-bottom: .2rem;
    }
    
    // &__img:hover {
    //   transform: translateY(-15);
    //   box-shadow: 0 8px 3px $color-secundario-gris;
    // }
    
    &__title {
      font-weight: small;
      font-size: small;
      padding-top: 0.7rem;
      text-transform: uppercase;
    }
    
    &__txt {
      padding: 0.2rem;
      font-size: 16px;
      font-weight: 300;
      font-size: small;

    }

  }
  
  
  .vinoblanco {
    width: 100%;
  
    &__titulo {
      padding-left: 40%;
      font-size: small;
      text-align: start;
      text-transform: capitalize;
    }
  }

  .vinomalbec {
    width: 100%;
    height: 75%;

    &__titulo {
      padding-top: 5%;
      font-size: small;
      text-align: center;
      text-transform: capitalize;
    }
  }
  
  
  
  .vinorose {
    width: 100%;

    &__titulo {
      font-size: small;
      text-align: center;
      text-transform: capitalize;
    }  
  }

  .espumantedulce {
    width: 100%;
    height: 75%;

    &__titulo {
      padding-top: 6%;
      font-size: small;
      text-align: center;
      text-transform: capitalize;
    }
  }
  
  .vinopersonalizado {
    width: 100%;
    justify-content: center;
    
    &__titulo {
      font-size: small;
      text-align: center;
      text-transform: capitalize;
    }
  }
  
  .subtitulo3 {
    color: #FFBD21;
    padding-bottom: 3rem;
    border-bottom: 1px solid $color-principal-dorado;
    text-align: center;
    text-transform: capitalize;
    font-size: larger;
    margin-top: 4rem;
  }