.resto { 
  display: flex;
  flex-direction: column;
  justify-items: center;
  
  &__texto1 {
    color: #898B89;
    text-align: center;
    text-transform: lowercase;
    font-size: small;
    font-weight: normal;
    }
  
  &__texto2 {
    color: #818181;
    text-align: center;
    text-transform: lowercase;
    font-size: small;
    font-weight: bold;
    }
    
  &__reserva {
    display: inline-block;
    background-color: #AD9263;
    color: white;
    margin-left: 45%;
    margin-right: 45%;
    padding-top: 1%;
    padding-right: 2%;
    padding-left: 2%;
    top: 20%;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    font-size: medium;
    border-radius: .2rem;
    }
  }
