* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Merriweather', sans-serif;
    background-color: white;
    color: black;
  }
  
  .seccion {
    width: 80%;
    margin: 0 auto;

    &__titulo {
      text-align: center;
      padding: 2rem 0;
    }

    &__titulo {
      text-align: center;
      padding: 2rem 0;
    }
  }
  
  .seccion2 {
    width: 95%;
    margin: 0 auto;
  }

  .seccion3 {
    width: 65%;
    margin: 0 auto;
  }

  .seccion4 {
    width: 65%;
    margin: 0 auto;
  }
